In [5]:
import pandas as pd
import random 
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import statsmodels.api as sm

import researchpy as rp
import scipy.stats as stats
from scipy.stats import levene
from scipy.stats import kstest
from scipy.stats import skew

import math 
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from statsmodels.formula.api import ols
from statsmodels.multivariate.manova import MANOVA


import warnings
warnings.filterwarnings('ignore')

plt.rcParams["figure.figsize"] = (20,10) 
pd.options.display.max_columns = None

In [3]:
df= pd.read_csv("datos/cars_price_norm_est.csv", index_col = 0)
df.head(2)

,ID,Levy,Manufacturer,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage,Cylinders,Gear box type,Drive wheels,Doors,Color,Airbags,Price_log
0,0.070984,1.356978,LEXUS,-0.477236,Jeep,Yes,Hybrid,3.5,-0.019114,1.223999,Automatic,4x4,0.162275,Silver,1.259818,9.497622
1,-1.185336,0.657944,CHEVROLET,-0.229416,Jeep,No,Petrol,3,-0.018943,1.223999,Tiptronic,4x4,0.162275,Black,0.304455,9.718422

In [6]:
df.dtypes

ID                  float64
Levy                float64
Manufacturer         object
Prod. year          float64
Category             object
Leather interior     object
Fuel type            object
Engine volume        object
Mileage             float64
Cylinders           float64
Gear box type        object
Drive wheels         object
Doors               float64
Color                object
Airbags             float64
Price_log           float64
dtype: object

En el pair programming de hoy usaremos el set de datos que guardast茅is en el pair programming de normalizaci贸n y estandarizaci贸n.

Hasta ahora hab茅is estado evaluando las caracter铆sticas de vuestro set de datos y hab茅is hecho una gran exploraci贸n, es el momento de hacer vuestro primer ANOVA! En el ejercicio de hoy tendr茅is que hacer un ANOVA con vuestro datos y hacer una interpretaci贸n de los resultados.

 NOTA Puede que vuestros datos no se ajusten o no cumplan todas las asunciones, no pasa nada, haced el ANOVA e interpretad los resultados. En pr贸ximas lecciones aprenderemos que podemos hacer cuando nos encontramos en esta situaci贸n.

In [ ]:
# iniciamos nuestro anova. Recordemos que la variable respuesta es el precio de las casas (median_house_value)
lm = ols('Price_log ~ CRIM  + ZN + INDUS + CHAS + NOX + RM + AGE + DIS + RAD + TAX + PTRATIO + B + LSTAT' , data=df).fit()
sm.stats.anova_lm(lm)